
<template id="fenceShadow">
    <style>
        :host {
            height: 200px;
            display: inline-block;
            text-align: center;
            margin: 0 30px;
            position: relative;
            top: -75px;
        }
        .post{
            height: 110%;
            width: 30px;
            background: #848484;
            box-shadow: inset -1px 1px 1px rgba(0, 0, 0, .2);
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            position: absolute;
            bottom: 0;
            left: -30px;
        }
        .post.post--right{
            left: auto;
            right: -30px;
        }
        .baton{
            width: 100%;
            height: 15px;
            background: #a7845c url(/img/fence_texture-horizontal.svg) center no-repeat;
            background-size: cover;
            position: absolute;
            top: 20%;
            left: 0;
        }
        .baton.baton--bottom{
            top: auto;
            bottom: 20%;
        }
        .picket-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
    <div class="post"></div>
    <div class="post post--right"></div>
    <div class="baton"></div>
    <div class="baton baton--bottom"></div>
    <div class="picket-container">
        <content></content>
    </div>
</template>

<script>
    // How do I fererence this in the Class?
    var test = document.currentScript.ownerDocument

    'use strict';

    class VTFence extends HTMLElement {

        createdCallback() { 
            let template = test.querySelector('#fenceShadow');
            let clonedTemplate = test.importNode(template.content, true);

            let root = this.createShadowRoot();
            root.appendChild(clonedTemplate);

            this.scaleFactor = 4;

            if (this.getAttribute("picketwidth") == null) {
                this.setAttribute("picketwidth", 100);
            }

            if (this.getAttribute("picketheight") == null) {
                this.setAttribute("picketheight", 800);
            }
            if (this.getAttribute("width") == null) {
                this.setAttribute("width", 1150);
            }
        }

        attachedCallback() {
            
        }

        detachedCallback() {

        }

        attributeChangedCallback () {
            console.log("UIpdates");
            this.update();
        }

        update() {
            let pickets = this._getAllPickets();
            
            for (var picket of pickets) {
                picket.width = this._scaleNumber(this.getAttribute("picketwidth"));
                picket.height = this._scaleNumber(this.getAttribute("picketheight"));
            }

            this.style.height = this._scaleNumber(this.getAttribute("picketheight")) + "px";
            this.style.width = this._scaleNumber(this.getAttribute("width") || 300) + "px";
        }

        _getAllPickets() {
            return this.querySelectorAll('vt-picket');
        }
        
        _createPicket(){
            const newPicket = document.createElement('vt-picket');            
            this.appendChild(newPicket);
        }

        _scaleNumber (val){
            return val / this.scaleFactor;
        }
    }

    document.registerElement('vt-fence', VTFence);
</script>