<style>
    vt-picket {
        height: 100%;
        width: 30px;
        background: #a7845c url(/img/fence_texture-vertical.svg) center no-repeat;
        background-size: cover;
        box-shadow: inset -1px 1px 1px rgba(0, 0, 0, .2);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        position: relative;
        box-sizing: border-box;
    }
</style>

<script>
    'use strict';
    class VTPicket extends HTMLElement {

        createdCallback () {

        }
        
        attachedCallback () {
            
        }
        
        detachedCallback () {
        
        }

        get width () {
            return this.offsetWidth;
        }

        set width (val) {
            this.style.width = val + "px";
        }

        get height () {
            return this.offsetHeight;
        }

        set height (val) {
            this.style.height = val + "px";
        }
    }

    document.registerElement('vt-picket', VTPicket);
</script>